.TagsMain{
    width: 100%;
}
.tags{
    margin: 1% 0;
    background-color: #0D0E10;
    justify-content: space-between;
    padding: 0 4%;
    overflow: visible;
/* Ensure buttons are visible */
    /* position: fixed;
    top: 73px; */
}
.tagArr{
    height: 36px;
    width: fit-content;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    background-color: #383838;
    transition: 0.3s;
}

.tagArr:hover{
    height: 36px;
    padding: 0px 12px;
    width: fit-content;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    background-color: #5f5e5e;
}
