.Header{
    color: blue;
    width: 100%;
    height: 72px;
    background-color: #0D0E10;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    padding: 0 4%;
    border-bottom: 1px solid #343536;
    /* position: fixed;
    top: 0; */
}
.Navigation{
    width: fit-content;
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    column-gap: 30px;
}

.SearchArea{
    width: fit-content;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 25%;
}
.SearchBox{
    width: fit-content;
    height: 40px;
    background-color: rgba(58, 52, 43, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 0 15px;
}
.SearchIcon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgba(58, 52, 43, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.SearchIcon:hover{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #565758;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox{
    height: 25px;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: rgba(58, 52, 43, 1);
    outline: none;
}
.premium{
    width: fit-content;
    border: 2px solid gold;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    color: gold;
    font-weight: bold;
    display: flex;
    column-gap: 5px;
}

.logo{
    /* background-color: grey; */
    width: fit-content;
    display: flex;
    column-gap: 4%;
    align-items: center;
}

.navlinks{
    width: fit-content;
    display: flex;
    list-style: none;
    column-gap: 20px;
    color: white;
    align-items: center;
}
.navlink{
    padding: 21px 0;
    color: rgba(255, 255, 255, 0.904);
}
.navlink:active{    
    border-bottom: 4px solid #d9008d;
    padding: 21px 0;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.navlink:hover{    
    transition: 0.3s;
    color: rgb(255, 255, 255);
    padding: 21px 0;
}
.crown{
    height: 19px;
}
.jcLogo{
    height: 50%;
}

.personIcon{
    height: 50px;
    width: 50px;
}
.dropdown{
    color: white;
    background-color: aliceblue;
}